@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  background-color: var(--baby-powder);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS HEX */
  --baby-powder: #f5f5efff;
  --air-superiority-blue: #58a1c6ff;
  --columbia-blue: #b9cfd7ff;
  --platinum: #dde4e2ff;
  --baby-powder-2: #f5f5efff;
  --honolulu-blue: #1079b3ff;
  --paynes-gray: #5f6b73ff;
  --lapis-lazuli: #3b6787ff;

  /* CSS HSL */
  --baby-powder: hsla(60, 23%, 95%, 1);
  --air-superiority-blue: hsla(200, 49%, 56%, 1);
  --columbia-blue: hsla(196, 27%, 78%, 1);
  --platinum: hsla(163, 11%, 88%, 1);
  --baby-powder-2: hsla(60, 23%, 95%, 1);
  --honolulu-blue: hsla(201, 84%, 38%, 1);
  --paynes-gray: hsla(204, 10%, 41%, 1);
  --lapis-lazuli: hsla(205, 39%, 38%, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "banner banner banner banner"
    ". main sidebar . "
    "footer footer footer footer";
}

.navbar {
  grid-area: navbar;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.banner {
  grid-area: banner;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--baby-powder);
} */
